* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url('bg-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: flex;
    background: rgb(147, 191, 202.1);
    position: sticky;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0;

}

.navbar .container-1 {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    /* -ms-flex-wrap: inherit; */
    flex-wrap: inherit;
    -webkit-box-align: center;
    /* -ms-flex-align: center; */
    align-items: center;
    -webkit-box-pack: justify;
    /* -ms-flex-pack: justify; */
    justify-content: space-around;
    width: 100%;
}

.container-1 .navbar-anc {
    color: black;
    padding-top: .7rem;
    padding-bottom: .7rem;
    font-weight: 900;
    font-size: 24px;
    z-index: 3;
    position: relative;
    text-decoration: none;
    white-space: nowrap;

}

.container-1 .list-button ul {
    list-style-type: none;
    display: flex;
    /* justify-content: space-between; */
}

.container-1 .list-button ul li a {
    text-decoration: none;
    margin: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}

/* .container-1 .list-button ul li{
    margin-right: 0 15px;
} */

.home {
    /* background-image: url('bg-01.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    height: 720px;
    /* margin: auto; */
    display: flex;
    justify-content: space-around;
}

.home .main-home-div {
    /* background-color: #36e10b; */
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    top: 100px;
    left: 0;
}

.home .home-section {
    /* background-color: #7610f4; */
    width: 500px;
    /* height: 400px; */
    margin: auto;
}

.home .home-section .social-media {
    /* background-color: #7610f4; */
    width: 225px;
    height: 33px;
    /* margin: auto; */
}

.home .home-section .social-media .social {
    background: none;
    border: none;
    /* margin: auto; */
}

.home .home-section .social-media .social a {
    text-decoration: none;
    color: black;
    /* margin: auto; */
}

.home .home-section .social-media .social a img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    /* margin: auto; */
}
.home .home-section .social-media .social a i :hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home .home-section span {
    font-size: 35px;
    /* font-weight: bold; */
}

.home .home-section .my-name {
    font-size: 50px;
    font-weight: bold;
}

.home .home-section p {
    line-height: 21px;
    font-size: 15px;
}

.home .home-section .resume-btn {
    width: 90px;
    /* height: 30px; */
    padding: 7px;
    /* border: inset; */
    border: 1px solid black;
    border-radius: 7px;
    margin: 10px 0;
    cursor: pointer;
    background: rgb(151, 188, 207.1);
    transition: .3s ease-in-out;
}

.home .home-section .resume-btn:hover{
    background-color: #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.home .home-section .resume-btn a:hover{
    color:rgb(151, 188, 207.1);
}

.home .home-section .resume-btn a {
    text-decoration: none;
    color: #1381dc;
    font-size: 17px;
    font-weight: bold;
}

.home .main-home-div .image-div {
    /* background-color: #e30c91; */
    /* background-image: url('my-image.png'); */
    /* width: 300px; */
    height: 400px;
    margin: auto;
}

.home .main-home-div .image-div img {
    position: relative;
    top: -160px;
    left: -240px;
    /* border: 3px dotted aqua; */
    border-radius: 50%;
}
@media (max-width:1200px) {
    .home .main-home-div .image-div img{
        position: relative;
        top: -160px;
        left: 0;
    }
}

hr {
    /* border: none; */
    border-top: 2px solid #000;
    width: 100%;
    width: 84%;
    margin: auto;
}

.icons {
    display: none;
    font-size: 1.7rem;
    color: black;
    cursor: pointer;
}

#check {
    display: none;
}

@media (max-width:715px) {

    .icons,
    #check {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        color: black;
        /* background: rgb(151, 188, 207.1); */
    }

    .icons #close-icon {
        display: none;
    }

    #check {
        display: none;
    }

    #check:checked~.icons #manu-icon {
        display: none;
        /* transition: ease-in-out .5s; */
    }

    #check:checked~.icons #close-icon {
        display: block;
        /* transition: ease-in-out .5s; */
    }

    .navbar {
        width: 200px;
        position: absolute;
        top: 50px;
        left: 64%;
        border-radius: 15px;
        height: 0;
        background: rgb(151, 188, 207.1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        /* display: block; */
        height: 17.7rem;
        /* transition: ease-in-out .5s; */
    }

    .navbar .container-1 {
        flex-direction: column;
    }

    .container-1 .list-button ul {
        /* list-style-type: none; */
        flex-direction: column;
        /* justify-content: space-between; */
    }

    .container-1 .list-button ul li {
        /* list-style-type: none; */
        /* flex-direction: column; */
        padding: 10px;
        /* justify-content: space-between; */
    }

    .navbar-anc {
        display: none;
    }

    .image-div {
        display: none;
    }
}

/* about section */

.about{
    background-color: #e8ef1a;
    width: 100%;
    height: 300px;
    transition: .5s ease-in-out;
}
.about .about-div{
    background-color: #ef1acb;
    width: 500px;
    height: 250px;
    margin: auto;
    text-align: center;
}
.about .about-div div{
    /* text-decoration: underline; */
    font-weight: bold;
    font-size: 40px;
    /* text-align: justify; */
}
.about .about-div  p{
    font-size: 20px;
    line-height: 25px;
}